<ion-header>
  <ion-toolbar color = "primary"> <ion-buttons slot="start" >
    <ion-back-button color= "secondary" ></ion-back-button>
  </ion-buttons>
    <ion-title>
      <ion-text color= "secondary"  > Menu</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2 class="ion-padding-horizontal ion-padding-top">Char Kuey Teow</h2>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck1.jpg">
    </ion-thumbnail>
    <ion-label>CKT Udang Galah (RM 12)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck2.jpg">
    </ion-thumbnail>
    <ion-label>CKT Sotong Besar (RM 25)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck3.jpg">
    </ion-thumbnail>
    <ion-label>CKT Ketam Seekor (RM 15)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck4.jpg">
    </ion-thumbnail>
    <ion-label>CKT Daging (RM 8)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck5.jpg">
    </ion-thumbnail>
    <ion-label>CKT udang (RM 8)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck6.jpg">
    </ion-thumbnail>
    <ion-label>CKT Kerang (RM 8)</ion-label>
  </ion-item>

  <h2 class="ion-padding-horizontal ion-padding-top">Nasi Harimau Menangis</h2>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/hm1.jpg">
    </ion-thumbnail>
    <ion-label>Ayam Harimau Menangis (RM 10.90)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/hm2.jpg">
    </ion-thumbnail>
    <ion-label>Daging Harimau Menangis (RM 13.90)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/hm3.jpg">
    </ion-thumbnail>
    <ion-label>Kambing Harimau Menangis (RM 16.90)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/hm4.jpg">
    </ion-thumbnail>
    <ion-label> Nasi Kambing Panggang (RM 17.90)</ion-label>
  </ion-item>

  <h2 class="ion-padding-horizontal ion-padding-top">Western Food</h2>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck7.jpg">
    </ion-thumbnail>
    <ion-label>Fried Chicken Chop (RM 13.90)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck12.jpg">
    </ion-thumbnail>
    <ion-label>Grilled Chicken Chop (RM 13.90)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck11.jpg">
    </ion-thumbnail>
    <ion-label>Pery Lamb (RM 17.90)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck9.jpg">
    </ion-thumbnail>
    <ion-label> Lamb Chop (RM 15.90)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck8.jpg">
    </ion-thumbnail>
    <ion-label> Fish & Chips (RM 13.90)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck13..jpg">
    </ion-thumbnail>
    <ion-label> Dory Fish Grilled (RM 13.90)</ion-label>
  </ion-item>

  <h2 class="ion-padding-horizontal ion-padding-top">Sup Special</h2>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/c6.png">
    </ion-thumbnail>
    <ion-label>Sup Gearbox (RM 13.90)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck121.jpg">
    </ion-thumbnail>
    <ion-label>Sup Abang Sayang (RM 10.90)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck119.jpg">
    </ion-thumbnail>
    <ion-label>Sup Daging(RM 8.00)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck9.jpg">
    </ion-thumbnail>
    <ion-label> Bihun Sup (RM 5.50)</ion-label>
  </ion-item>

  <h2 class="ion-padding-horizontal ion-padding-top">Mee Station</h2>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck124.jpg">
    </ion-thumbnail>
    <ion-label>Mee Ketam(RM 15.00)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck125.jpg">
    </ion-thumbnail>
    <ion-label>Mee Udang (RM 8.90)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck123.jpg">
    </ion-thumbnail>
    <ion-label>Mee Kari (RM 5.00)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck122.jpg">
    </ion-thumbnail>
    <ion-label> Laksa (RM 5.00)</ion-label>
  </ion-item>

  <h2 class="ion-padding-horizontal ion-padding-top">Ala Carte</h2>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck136.jpg">
    </ion-thumbnail>
    <ion-label>Nasi Goreng Paprik (RM 7.00)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck134.jpg">
    </ion-thumbnail>
    <ion-label>Nasi Goreng Ayam Merah (RM 7.50)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck135.jpg">
    </ion-thumbnail>
    <ion-label>Nasi Goreng Ayam Kunyit (RM 7.50)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck137.jpg">
    </ion-thumbnail>
    <ion-label> Nasi Putih Tomyam (RM 7.00)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ck138.jpg">
    </ion-thumbnail>
    <ion-label> Paprik Seafood (RM 6.00)</ion-label>
  </ion-item>

  <h2 class="ion-padding-horizontal ion-padding-top">Set Minuman</h2>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/j1.jpg">
    </ion-thumbnail>
    <ion-label>ABC (RM 4.50)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/j2.jpg">
    </ion-thumbnail>
    <ion-label>Air Asam Boi (RM 4.20)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/j3.jpg">
    </ion-thumbnail>
    <ion-label>Jus Belimbing (RM 4.20)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/j4.jpg">
    </ion-thumbnail>
    <ion-label> Air Bandung (RM 2.20)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/j5.jpg">
    </ion-thumbnail>
    <ion-label> Jus Apple (RM 4.20)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/j6.jpg">
    </ion-thumbnail>
    <ion-label>Lai Chee Kang (RM 4.50)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/j7.jpg">
    </ion-thumbnail>
    <ion-label> Jus Oren (RM 4.20)</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/j8.jpg">
    </ion-thumbnail>
    <ion-label> Jus Tembikai (RM 4.20)</ion-label>
  </ion-item>

</ion-content>

<ion-button expand="full" fill="outline" href = "https://www.charkueyteowabangsayang.com">Tempah Meja Sini</ion-button>


