<ion-header>
  <ion-toolbar color = "primary"> <ion-buttons slot="start" >
    <ion-back-button color= "secondary" ></ion-back-button>
  </ion-buttons>
    <ion-title>
      <ion-text color= "secondary"  > TV Channel</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header> 
      <ion-card-title>TV Abang Sayang</ion-card-title>
    </ion-card-header>
  
    
      <h2 class="ion-padding-horizontal ion-padding-top">Suasana Restoran</h2>

      <ion-card-content><video width="100%" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
        <source src="assets/v3.mp4" type="video/mp4" />
        </video>
        <ion-card-title>Pelbagai Pelanggan yang Hadir</ion-card-title>
      </ion-card-content>

  </ion-card>

  <ion-card>
    <img src="assets/ckab.jpg">
    <ion-card-header>
      <ion-card-subtitle>Penubuhan awal</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Perniagaan yang bermula dengan sebuah lori 3 tan yang dahulunya bertapak di hadapan McDonalds, Meru, akhirnya kini berjaya membuka sebuah restoran demi keselesaan pelanggan yang dihargai.
    </ion-card-content>
    <img src="assets/cka1.jpg">

    <ion-card-content>
      Bermula Nov 2018, Restoran Char Kuey Teow Abang Sayang mula membina keupayaan untuk menghargai para pelanggan dengan memberikan ruangan yang lebih besar, lebih santai dan mampu menampung jumlah yang besar pada suatu masa. Lokasi yang beralamat di No 25, Jalan Meru Bestari A14, Medan Meru Bestari, Ipoh Perak pasti menjanjikan memori yang indah jika anda singgah ke sini.
    </ion-card-content>

    <img src="assets/cka6.jpg">

    <ion-card-content>
      Matlamat kami adalah untuk memastikan pengalaman anda semasa berada di restoran kami adalah satu saat yang indah sambil dihidangkan pelbagai pilihan menu untuk memenuhi citarasa anda.
    </ion-card-content>

    <img src="assets/cka9.jpg">

    <ion-card-content>
      Restoran Char Kuey Teow juga telah menjadi pilihan artis-artis tempatan untuk menjamu selera jika mereka berada di Ipoh Perak. Dato Seri Ahmad Faizal Azumu, Menteri Besar Perak juga pernah singgah di restoran kami bagi melihat kemeriahan restoran di sekitar Meru, Perak.
    </ion-card-content>

  </ion-card>

  

</ion-content>

<ion-fab vertical="center" horizontal="center" slot="fixed">
  <ion-fab-button  color="primary">
    <ion-icon name="open"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button href="https://maps.google.com/?cid=9243774252522556778"><ion-icon name="location"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="bottom">
    <ion-fab-button href ="https://www.facebook.com/CKTAbangSayang/"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
    <ion-fab-button href = "https://www.charkueyteowabangsayang.com/tempah-online"><ion-icon name="globe"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="end">
    <ion-fab-button href="tel:0192341983"><ion-icon name="call"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>


<ion-button expand="full" fill="outline" href = "https://www.charkueyteowabangsayang.com">Tempah Meja Sini</ion-button>

