<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-title>
      <ion-text color= "secondary"  > Order Foods CT Media App</ion-text>
    </ion-title>
  </ion-toolbar>

  <ion-toolbar color = "primary">
      <ion-segment>
          <ion-segment-button value="insuran" checked routerLink="/menu">
              <ion-text color= "secondary"  > MENU</ion-text>
          </ion-segment-button>
          <ion-segment-button value="hubungi" routerLink="/channel">
              <ion-text color= "secondary"  > TUBE CKTAS</ion-text>
          </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="ion-padding-horizontal ion-padding-top">Menu Pilihan Hati Anda</h1>

  <ion-slides [options]="slideOptsTop">
    <ion-slide>
      <ion-card class="ion-text-start" href ="https://www.charkueyteowabangsayang.com/tempah-online">
        <img src="assets/c1.jpg">
        <ion-card-header>
          <ion-card-subtitle>Menu 1</ion-card-subtitle>
          <ion-card-title>Char Kuey Teow</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="ion-text-start" href = "https://www.charkueyteowabangsayang.com/tempah-online">
        <img src="assets/c2.jpg">
        <ion-card-header>
          <ion-card-subtitle>Menu 2</ion-card-subtitle>
          <ion-card-title>Satay</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="ion-text-start" href= "https://www.charkueyteowabangsayang.com/tempah-online">
        <img src="assets/c3.jpg">
        <ion-card-header>
          <ion-card-subtitle>Menu 3</ion-card-subtitle>
          <ion-card-title>Harimau Menangis</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="ion-text-start" href = "https://www.charkueyteowabangsayang.com/tempah-online">
        <img src="assets/c4.jpg">
        <ion-card-header>
          <ion-card-subtitle>Menu 4</ion-card-subtitle>
          <ion-card-title>Ala Carte</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="ion-text-start" href = "https://www.charkueyteowabangsayang.com/tempah-online">
        <img src="assets/c10.jpg">
        <ion-card-header>
          <ion-card-subtitle>Menu 5</ion-card-subtitle>
          <ion-card-title>Nasi Ayam Special</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="ion-text-start" href = "https://www.charkueyteowabangsayang.com/tempah-online">
        <img src="assets/c6.png">
        <ion-card-header>
          <ion-card-subtitle>Menu 6</ion-card-subtitle>
          <ion-card-title>Sup Gearbox</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="ion-text-start" href = "https://www.charkueyteowabangsayang.com/tempah-online">
        <img src="assets/c7.jpg">
        <ion-card-header>
          <ion-card-subtitle>Menu 7</ion-card-subtitle>
          <ion-card-title>Western Food</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="ion-text-start" href = "https://www.charkueyteowabangsayang.com/tempah-online">
        <img src="assets/c8.jpg">
        <ion-card-header>
          <ion-card-subtitle>Menu 8</ion-card-subtitle>
          <ion-card-title>Mee Station Sedap</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="ion-text-start" href = "https://www.charkueyteowabangsayang.com/tempah-online">
        <img src="assets/c5.jpg">
        <ion-card-header>
          <ion-card-subtitle>Menu 9</ion-card-subtitle>
          <ion-card-title>Jus Buah-buahan Tempatan</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  
  </ion-slides>

</ion-content>

<ion-button expand="full"  fill="outline" href = "https://www.charkueyteowabangsayang.com/tempah-online">Penghantaran & Pick Up</ion-button>


